.navbar-wrapper {
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ccc; /* 밑줄 추가 */
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.navbar {
    position: relative;
    width: 1250px;
    min-width: 1250px;
    padding: 0 130px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.navbar-logo {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    left: 40px;
    top: 50%;
    color: #6366f1;
    transform: translateY(-50%);
}

.navbar-links {
    position: absolute;
    left: 30%;
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

ul.navbar-links li a:hover {
    color: #2563eb !important;
}

.navbar-links.scrolled li a {
    color: #1e293b !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links li a.scrolled-active {
    color: #2563eb !important;
    font-weight: bold;
}

.navbar-links.scrolled {
    font-size: 0.9rem;
    gap: 50px;
    color: #2563eb;
    transition: all 0.3s ease;
    left: 400px;
    right: auto;
}

.user-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 35px;
    color: #1e293b;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.user-icon:hover{
    color: #6366f1;
    cursor: pointer;
}

/* 검색창과 버튼을 감싸는 컨테이너 */
.search-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.search-container.scrolled {
    left: auto;
    right: 130px;
    transform: translateY(-50%);
}

/* 입력창: 타원형 */
.search-container input[type="text"] {
    padding: 8px 45px 8px 16px;
    font-size: 16px;
    border-radius: 999px;
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
    height: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 동그란 검색 버튼 */
.search-button {
    position: absolute;
    right: 0;
    border: none;
    background-color: #1e293b;
    color: white;
    width: 50px;
    height: 100%;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar-logo:hover{
    color: #6366f1;
    cursor: pointer;
}

.search-button:hover{
    background-color: #6366f1;
}
